.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-Content {
    margin-top: 10vh;
}

.Home h1 {
    color: white;
}

.Home button {
    background-color: #ff7600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}

.Home-Header {
    display: flex;
    width: 100%;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.Home-Places-Container {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}