.Place-Listing {
    padding: 7% 0;
    color: white;
    max-width: 500px;
    top: 0px;
    position: relative;
    margin-bottom: 2%;
    animation: fadeIn linear 300ms;
    --img-scale: 1.001;
    --title-color: lightgrey;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    border-radius: 16px;
    box-shadow: none;
    background: #0064B3;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.Place-Listing-Content {
    padding: 24px;
}

.Place-Listing figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.Place-Listing img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.Place-Listing h2 {
    margin: 0 0 18px 0;
    font-family: "Raleway";
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

.Place-Listing p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: lightgrey;
}

.Place-Listing a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #F9F871;
}

.Place-Listing a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

.Place-Listing a:focus {
    outline: 1px dotted #28666e;
}

.Place-Listing:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: white;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}